<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalkShift - Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div style="width: 1280px; height: 832px; position: relative; background: #F1F1F1">
        <div style="width: 878px; left: 201px; top: 199px; position: absolute; text-align: center; color: black; font-size: 128px; font-family: Inter; font-weight: 500; word-wrap: break-word">TalkShi(f)t</div>
        <div style="width: 649px; height: 62px; left: 315px; top: 354px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">UNLOCK A NEW LANGUAGE</div>
        <div style="width: 335px; height: 61px; left: 43px; top: 671px; position: absolute; background: #888888; box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25); border-radius: 9px"></div>
        <div style="width: 335px; height: 61px; left: 472px; top: 671px; position: absolute; background: #888888; box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25); border-radius: 9px"></div>
        <div style="width: 335px; height: 61px; left: 901px; top: 671px; position: absolute; background: #888888; box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25); border-radius: 9px"></div>
        <a href="/dictionary" style="left: 149px; top: 687px; position: absolute; text-align: center; color: #F1F1F1; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word; text-decoration: none;">Dictionary</a>
        <a href="/translator" style="left: 579px; top: 687px; position: absolute; text-align: center; color: #F1F1F1; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word; text-decoration: none;">Translator</a>
        <a href="/generator" style="left: 1009px; top: 687px; position: absolute; text-align: center; color: #F1F1F1; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word; text-decoration: none;">Generator</a>
    </div>
</body>
</html>





